---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="h-full">
    <div class="flex flex-col justify-center items-center gap-[75rem] w-1/2 border-r-2 border-black">
      <div class="border-2 m-10 flex flex-col gap-5 p-5 mt-[75rem]">
        <h1 class="text-3xl">Event Information</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero a ex necessitatibus veritatis sit quasi, cumque hic aperiam voluptatibus iusto iste debitis eveniet, minima laboriosam
          labore saepe consequuntur asperiores?
        </p>
      </div>
      <div class="border-2 m-10 flex flex-col gap-5 p-5">
        <h1 class="text-3xl">Event Information</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero a ex necessitatibus veritatis sit quasi, cumque hic aperiam voluptatibus iusto iste debitis eveniet, minima laboriosam
          labore saepe consequuntur asperiores?
        </p>
      </div>
      <div class="border-2 m-10 flex flex-col gap-5 p-5">
        <h1 class="text-3xl">Event Information</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero a ex necessitatibus veritatis sit quasi, cumque hic aperiam voluptatibus iusto iste debitis eveniet, minima laboriosam
          labore saepe consequuntur asperiores?
        </p>
      </div>
      <div class="border-2 m-10 flex flex-col gap-5 p-5">
        <h1 class="text-3xl">Event Information</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero a ex necessitatibus veritatis sit quasi, cumque hic aperiam voluptatibus iusto iste debitis eveniet, minima laboriosam
          labore saepe consequuntur asperiores?
        </p>
      </div>
      <div class="border-2 m-10 flex flex-col gap-5 p-5">
        <h1 class="text-3xl">Event Information</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero a ex necessitatibus veritatis sit quasi, cumque hic aperiam voluptatibus iusto iste debitis eveniet, minima laboriosam
          labore saepe consequuntur asperiores?
        </p>
      </div>
      <div class="border-2 m-10 flex flex-col gap-5 p-5">
        <h1 class="text-3xl">Event Information</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero a ex necessitatibus veritatis sit quasi, cumque hic aperiam voluptatibus iusto iste debitis eveniet, minima laboriosam
          labore saepe consequuntur asperiores?
        </p>
      </div>

      <div class="border-2 m-10 flex flex-col gap-5 p-5">
        <h1 class="text-3xl">Event Information</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero a ex necessitatibus veritatis sit quasi, cumque hic aperiam voluptatibus iusto iste debitis eveniet, minima laboriosam
          labore saepe consequuntur asperiores?
        </p>
      </div>
    </div>
    <div class="fixed top-1/2 right-28 w-1/4 h-1/4 bg-red-400 text-white p-5">
      <h1 class="bold text-2xl pb-2">Some Information</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero a ex necessitatibus veritatis sit quasi, cumque hic aperiam voluptatibus iusto iste debitis eveniet, minima laboriosam labore
        saepe consequuntur asperiores?
      </p>
    </div>
  </body>
</html>
